.preloader{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:#ffffff; 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(../img/preloader.svg);
}
@media (max-width:768px){
	.terms-policy{
		padding:5rem 3rem 5rem !important;
	}
}